.column1 {
  width: 500px;
  float: left;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: blueviolet;
  color: rgb(255, 47, 89);
}

.column2 {
  width: 500px;
  float: left;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(0, 255, 0);
  color: rgb(112, 86, 0);
}

.column3 {
  width: 500px;
  float: left;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(0, 60, 138);
  color: rgb(251, 134, 255);
}

img {
  width: 500px;
}

.header {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
  background-color: salmon;
}